target
/logs
/.idea
.idea/
/.idea_modules
/.classpath
/.project
/.settings
/.sbtserver
/RUNNING_PID
project/.sbtserver
project/.sbtserver.lock

*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
