@(filename: String, headersMappingForm: play.api.data.Form[controllers.HeadersMapping])(implicit messages: Messages)

@import helper._

@main(s"Properties for subject $subject - ImportNow") {

    <h1>File @filename</h1>

    @helper.form(action = routes.HomeController.analyze()) {
        @helper.inputText(headersMappingForm("filename"))
        <ul>
        @helper.repeat(headersMappingForm("headers")) { headerMapping =>
            <li>
                @helper.inputText(headerMapping("headerName"))
            </li>
        }
        </ul>


        @repeat(headersMappingForm("headers"), min = 1) { headerMapping =>
            <div id="headerMappingField">
                @inputText(headersMappingForm(headerMapping.name.toString + ".localName"), 'label -> headersMappingForm(headerMapping.name.toString + ".headerName").value)
            </div>
        }
    }

}
