@(filename: String, headersMappingForm: play.api.data.Form[models.HeadersMapping])(implicit messages: Messages)

@import helper._

@headerMappingField = @{ FieldConstructor(headerInput.f) }

@main(s"Properties for subject $subject - ImportNow") {

    <h1>File @filename</h1>

    @helper.form(action = routes.HomeController.analyze(filename)) {
        @helper.inputText(headersMappingForm("typeName"))

        @repeat(headersMappingForm("headers")) { headerMapping =>
            <input type="hidden" name="@{headerMapping.name.toString + ".headerName"}" value="@headersMappingForm(headerMapping.name.toString + ".headerName").value" >
            @inputText(headersMappingForm(headerMapping.name.toString + ".localName"), '_label -> headersMappingForm(headerMapping.name.toString + ".headerName").value)(handler = headerMappingField, messages)
        }
        <p>
            <input type="submit"/>
        </p>
    }

}
