@(predicates: scala.collection.immutable.List[String])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Predicates - ImportNow") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <h1>Predicates</h1>

    @for(predicate <- predicates) {
        <a href="/predicates/@helper.urlEncode(predicate)">@predicate</a><br/>
    }

}
