@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(uploadsContexts: scala.collection.immutable.List[(Option[String], Option[String])])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Subjects - ImportNow") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <h1>Uploads and contexts</h1>

    <table>
    @for((upload, context) <- uploadsContexts) {
        <tr>
            <td>@upload</td>
            <td>@context</td>
        </tr>
    }
    </table>

}
